.not-found__title-top {
    margin-bottom: .6rem;
}

.not-found__content-secondary,
.not-found__btn,
.not-found__links {
    margin-top: 2.4rem;
}

.not-found__links {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 1.2rem;
}