.bundle-media__wrapper {
    position: relative;

    @media only screen and (min-width: 768px) {
        position: sticky;
        top: var(--header-height-mobile);
    }

    @media only screen and (min-width: 1280px) {
        top: var(--header-height-desktop);
    }
    
    @media only screen and (min-width: 1440px) {
        display: flex;
        height: calc(100svh - var(--header-height-desktop) - var(--announcement-height));
        min-height: 50rem;
    }
}

.bundle-media__slider {
    @media only screen and (min-width: 1440px) {
        height: calc(100svh - var(--header-height-desktop) - var(--announcement-height));
        min-height: 50rem;
        aspect-ratio: 1;
        margin: 0;
    }

    .swiper-slide {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
        margin-right: .2rem;
    }
}

.bundle-media__thumbs {
    @media only screen and (min-width: 1440px) {
        width: 100%;
        height: calc(100% - 3rem);
    }

    .swiper-slide {
        position: relative;
        height: calc(20% - 1.2rem);
        aspect-ratio: 1 / 1;
        width: auto;
        border-radius: .3rem;
        border: .1rem solid transparent;
        margin-bottom: 1.2rem;
        cursor: pointer;
        overflow: hidden;
        transition: var(--transition-all);

        &.swiper-slide-thumb-active {
            border-color: var(--ink);
        }
    }
}

.bundle-media__thumbs-wrapper {
    display: none;
 
    @media only screen and (min-width: 1440px) {
        display: block;
        margin-left: 1.2rem;
    }
}

.bundle-media__thumbs-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--chalk);
    margin: .4rem auto 1.2rem auto;
    overflow: hidden;

    .icon {
        width: 1.5rem;
        height: auto;
    }
}

.bundle-media__slider-nav {
    position: absolute;
    z-index: 1;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 1440px) {
        display: none;
    }
}

.bundle-media__slider-nav-btn {
    padding: .6rem;
}

.icon-play-thumbnail {
    position: absolute;
    z-index: 3;
    bottom: .5rem;
    right: .5rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(249, 248, 245, .6);
    border-radius: 50%;
}

.bundle-media__badge {
    position: absolute;
    z-index: 3;
    left: 1.8rem;
    top: 1.8rem;
    display: inline-block;
    padding: .2rem .9rem 0 .9rem;
    border-radius: 2.2rem;
    background-color: var(--white);
}

.bundle-media__seal {
    position: absolute;
    z-index: 2;
    left: 1.2rem;
    top: 1.2rem;
    height: 5rem;

    @media only screen and (min-width: 768px) {
        left: 1.8rem;
        top: 1.8rem;
        height: 7.4rem;
    }
}

.bundle__info-inner {
    max-width: 52.6rem;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
        position: sticky;
        top: calc(var(--header-height-mobile) + 2rem);
        z-index: 99;
    }

    @media only screen and (min-width: 1280px) {
        top: calc(var(--header-height-desktop) + 2rem);
    }
}

.bundle__wrapper { 
    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 50% 1fr;
        margin-bottom: 2.4rem;
    }

    @media only screen and (min-width: 1280px) {
        grid-template-columns: 62.5% 1fr;
        margin-bottom: 0;
    }

    @media only screen and (min-width: 1440px) {
        display: flex;
    }
}

.bundle__info {
    padding: 2.4rem 1.8rem;

    @media only screen and (min-width: 768px) {
        padding: 4.4rem 1.8rem 4rem 1.8rem;
    }
    
    @media only screen and (min-width: 1280px) {
        padding: 10rem 6rem 10rem 2rem;
    }

    @media only screen and (min-width: 1440px) {
        padding: 10rem 7rem;
        flex-grow: 1;
    }
}

.bundle__media {
    @media only screen and (min-width: 1440px) {
        min-width: 50rem;
    }
}

.bundle__badge-wrapper {
    margin-bottom: 1.2rem;
}

.bundle__description {
    margin-top: 1.2rem;
}

.bundle__badge {
    padding: .2rem .9rem;
    border-radius: 2.2rem;
    background-color: var(--morning-sky);
    color: var(--white);
}

.bundle__footer-text {
    margin-top: 1.2rem;
    text-align: center;
    text-wrap: balance;
}

.bundle-builder__item {
    &:not(:last-child) {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: .1rem solid var(--clay);
    }
}

.bundle-builder__item-inner {
    display: grid;
    grid-template-columns: 7.2rem 1fr;
    gap: 1.2rem;
    position: relative;
}

.bundle-builder__item-img {
    height: 7.2rem;
    aspect-ratio: 1 / 1;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: .3rem;
}

.bundle-builder {
    margin-top: 1.8rem;
}

.bundle-builder__item-price {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: .8rem;

    s {
        color: var(--ink-40);
    }
}

.bundle-builder__item-selector-label {
    margin-bottom: .3rem;
}

.bundle-builder__item-selector-toggle-title {
    display: flex;
    align-items: center;
}

.bundle-builder__selector-btn-inner {
    display: flex;
    align-items: center;
}

.bundle-builder__item-selector-toggle-text {
    width: calc(100% - 2.4rem);
}

.bundle-builder__shade-url-wrapper {
    display: flex;
    margin-top: .8rem;
}

.bundle-builder__selector-btn {
    .bundle-builder__item-selector-toggle-text {
        span {
            display: none;
        }
    }
}

.bundle-builder__item-body {
    margin-top: .8rem;
}

.bundle-builder__item-selector-option {
    width: 100%;
    height: 3rem;
    padding: .2rem 1.2rem;
}

.bundle-builder__item-selector-toggle-title {
    display: flex;
    align-items: center;
}

.bundle-builder__item-selector-toggle-thumbnail-wrapper {
    position: relative;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    width: 1.6rem;
    height: 1.6rem;
    aspect-ratio: 1 / 1;
    min-width: 1.6rem;
    margin-right: .8rem;
    z-index: 1;

    img {
        transform: scale(1.5);
    }
}

.dropdown-content.bundle-builder__item-selector-dropdown-content {
    max-height: 10.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.bundle-builder__discount {
    margin-top: 2rem;
    text-align: center;
}

.bundle-builder__custom-link {
    width: 100%;
    text-align: center;
    padding: .4rem 1.2rem;
    background-color: var(--chalk);
    margin-top: 2rem;
    border-radius: .4rem;
    justify-content: center;
    text-wrap: balance;
}

.bundle-builder__atc-wrapper {
    margin-top: 2rem;
}

.bundle-builder__totals {
    display: flex;
    align-items: center;
    gap: .4rem;

    s {
        color: var(--ink-40);
    }
}

.bundle-builder__placements {
    margin-top: 1.2rem;
    text-align: right;
}

.afterpay-placement {
    --messaging-font-size: 1rem;
    --logo-badge-width: 2.9rem;
    line-height: 1.3rem;
}

.catch-callout {
    display: inline-block;
    margin-left: auto;
    --text-color: var(--ink);
    --font-size: 1rem;
    --line-height: 1.3rem;
    --font-family: var(--font-body);
    --letter-spacing: 0.05rem;
    --font-weight: 300;
    --dark-color: var(--ink);
    --light-mono-color: var(--ink);
}