.contact__info-item {
    margin-top: 2.4rem;
}

.contact__info-item-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: .6rem;
}

.contact__social-links {
    margin-top: 3.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;

    @media only screen and (min-width: 1280px) {
        margin-top: 4.2rem;
    }
}

.contact__links {
    margin-top: 3.6rem;

    @media only screen and (min-width: 1280px) {
        margin-top: 4.2rem;
    }
}

.contact__link:not(:last-child) {
    margin-bottom: 1.2rem;
}