.image-gallery__content {
    margin-bottom: 2.4rem;

    section[style*="morning-sky"] & {
        color: var(--white);

        a {
            color: var(--white);
        }
    }
}

.image-gallery__image {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    min-height: 15rem;
    max-height: calc(95svh - var(--header-height-mobile) - var(--announcement-height, 0));

    @media only screen and (min-width: 1280px) {
        max-height: calc(95svh - var(--header-height-desktop) - var(--announcement-height, 0));
    }
}

.image-gallery__spirit {
    min-height: 8.8rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;

    &:has(.ls-container) {
        background: none;
    }

    @media only screen and (min-width: 768px) {
        min-height: 18.3rem;
    }

    @media only screen and (min-width: 1024px) {
        min-height: 24.7rem;
    }

    @media only screen and (min-width: 1280px) {
        min-height: 29rem;
        margin-left: 6rem;
        margin-right: 6rem;
    }

    @media only screen and (min-width: 1440px) {
        min-height: 32.8rem;
    }

    @media only screen and (min-width: 1920px) {
        min-height: 44.8rem;
    }
}

.swiper.image-gallery__slider {
    padding: 0 1.8rem;

    @media only screen and (min-width: 1280px) {
        padding: 0 6rem;
    }

    .swiper-slide {
        margin-right: 1.8rem;
        width: 72.7%;
        height: auto;

        @media only screen and (min-width: 576px) {
            width: 40.64%;
        }

        @media only screen and (min-width: 1024px) {
            width: 28.57%;
        }

        @media only screen and (min-width: 1280px) {
            width: 22.63%;
        }

        @media only screen and (min-width: 1536px) {
            width: 18.2%;
        }
    }

    .swiper-nav-btn {
        display: none;

        @media only screen and (min-width: 1280px) {
            display: flex;
        }
    }
}