.jet-lag-carousel {
    overflow: hidden;
    padding: 9rem 0 12.4rem;
    position: relative;

    @media only screen and (min-width: 1280px) {
        padding-top: 8.4rem;
    }

    &[style*="morning-sky"] {
        color: var(--white);

        a {
            color: var(--white);
        }

        .btn.btn--clay {
            background-color: var(--white);
            color: var(--ink);
            border-color: var(--white);

            &:hover,
            &:focus {
                background-color: var(--morning-sky);
                color: var(--white);
                border-color: var(--white);
            }
        }
    }
}

.jet-lag-carousel__media {
    inset: 0;
    position: absolute;
    z-index: 1;
}

.jet-lag-carousel__video-wrapper--mobile {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.jet-lag-carousel__video-wrapper--desktop {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.jet-lag-carousel__container {
    padding: 0 1.8rem;
    position: relative;
    z-index: 1;
}

.jet-lag-carousel__title {
    text-align: center;
}

.jet-lag-carousel__slider {
    display: flex;
    margin: 0 -1.8rem;
    margin-top: 4.2rem;
    overflow: visible;

    @media screen and (min-width: 768px) {
        margin-top: 2.6rem;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 4.2rem;
        padding-left: 6rem;
        padding-right: 6rem;

        .swiper-wrapper {
            justify-content: center;
            transform: none !important;
        }
    }

    @media screen and (min-width: 1537px) {
        padding-left: 14.4rem;
        padding-right: 14.4rem;
    }
}

.jet-lag-carousel__slide {
    width: 48.78%;

    @media screen and (min-width: 1280px) {
        padding-left: .8rem;
        padding-right: .8rem;
        width: calc(100% / 5) !important;
    }
}

.jet-lag-carousel__contents {
    display: flex;
    justify-content: center;
    margin-top: 4.2rem;

    @media screen and (min-width: 1280px) {
        margin-left: -1.8rem;
        margin-right: -1.8rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @media screen and (min-width: 1537px) {
        padding-left: 14.4rem;
        padding-right: 14.4rem;
    }
}

.jet-lag-carousel__title-top {
    margin-bottom: 1.2rem;
    text-align: center;
}

.jet-lag-carousel__content {
    display: none;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

    .product-card-small__selector-btn.select-toggle-btn {
        border-color: var(--ink);
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        opacity: 1;
        transition: var(--transition-all);
        width: calc(100% / 5);
        padding-left: .8rem;
        padding-right: .8rem;
    }

    .product-card-small {
        width: 100%;
        margin: 1.2rem auto 1.8rem;
        max-width: 25rem;

        @media screen and (min-width: 1280px) {
            max-width: 31.5rem;
        }
    }

    .product-card-small__body {
        padding: 0;
        width: 100%;
    }

    .product-card-small__media,
    .product-card-small__title-wrapper {
        display: none;
    }

    .btn,
    .select-wrapper {
        background-color: transparent;
        border-color: var(--ink);
        color: var(--ink);
    }

    .btn {
        &:hover {
            border-color: var(--ink);
            background-color: var(--ink);
            color: var(--white);
        }
    }

    .dropdown-content {
        margin-bottom: 1px;
    }
    
    .btn:hover,
    .btn:focus,
    .btn:active {
        border-color: transparent;
    }
}

.jet-lag-carousel__image-wrapper {
    position: relative;
    display: block;
}

.jet-lag-carousel__subtitle {
    margin: 0 auto 0.6rem;
    max-width: 25rem;

    @media screen and (min-width: 1280px) {
        max-width: 31.5rem;
    }
}

.jet-lag-carousel__text {
    margin-bottom: 0.6rem;
}

.jet-lag-carousel__description {
    display: -webkit-box;
    overflow: hidden;
    margin: 0 auto;
    max-width: 25rem;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @media screen and (min-width: 1280px) {
        max-width: 31.5rem;
    }
}

.jet-lag-carousel:not(:has(.swiper-initialized)) .jet-lag-carousel__slider .swiper-wrapper {
    transform: translateX(-25%);

    @media screen and (min-width: 1280px) {
        transform: none;
    }
}

.jet-lag-carousel:not(:has(.swiper-initialized)) .jet-lag-carousel__content--initial {
    display: block;

    @media screen and (min-width: 1280px) {
        opacity: 1;
    }
}
