.lip-butter-carousel {
    position: relative;
    overflow: hidden;
    padding: 9rem 0 9.6rem;
    transition: var(--transition-all);

    &[data-text-color="white"] {
        color: var(--white);

        .lip-butter-carousel__button.btn:hover,
        .lip-butter-carousel__button.btn:focus,
        .lip-butter-carousel__button.btn:active {
            color: var(--ink);
        }
    }

    &[data-text-color="black"] {
        color: var(--ink);
    }
}

.lip-butter-carousel__container {
    position: relative;
    z-index: 2;
    padding: 0 1.8rem;
}

.lip-butter-carousel__title {
    margin-bottom: 2.6rem;
    text-align: center;
    transition: var(--transition-all);

    @media screen and (min-width: 1280px) {
        margin-bottom: 6.5rem;
    }
}

.lip-butter-carousel__slider {
    display: flex;
    margin: 0 -1.8rem;
    overflow: visible;
}

.lip-butter-carousel__slide {
    cursor: pointer;

    @media screen and (min-width: 1280px) {
        width: 20%;
    }
}

.lip-butter-carousel__image-wrapper {
    display: block;
}

.lip-butter-carousel__image {
    height: var(--lip-butter-mobile-image-height);
    object-fit: cover;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        height: var(--lip-butter-tablet-image-height);
    }

    @media screen and (min-width: 1280px) {
        height: var(--lip-butter-desktop-image-height);
    }
}

.lip-butter-carousel__contents {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.lip-butter-carousel__content {
    width: 100%;
    max-width: 25rem;
    text-align: center;
    transition: var(--transition-all);

    @media screen and (min-width: 768px) {
        max-width: 40rem;
    }
}

.lip-butter-carousel__subtitle {
    color: var(--lip-butter-primary-color);
    margin-bottom: 0.6rem;
    transition: var(--transition-all);
}

.lip-butter-carousel__text {
    color: var(--lip-butter-primary-color);
    margin-bottom: 0.6rem;
    transition: var(--transition-all);
}

.lip-butter-carousel__description {
    text-wrap: balance;
    color: var(--lip-butter-primary-color);
    transition: var(--transition-all);

    @media only screen and (min-width: 768px) {
        display: -webkit-box;
        text-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}

.lip-butter-carousel__form {
    margin: 1.2rem 0 1.8rem;
}

.lip-butter-carousel__button.btn {
    background-color: transparent;
    border-color: var(--lip-butter-primary-color);
    color: var(--lip-butter-primary-color);
    transition: var(--transition-all);
    opacity: 1;
}

.lip-butter-carousel__button.btn:hover,
.lip-butter-carousel__button.btn:focus,
.lip-butter-carousel__button.btn:active {
    border-color: transparent;
}

.lip-butter-carousel__link {
    align-items: center;
    color: var(--lip-butter-primary-color);
    display: inline-flex;
    gap: 1.2rem;
    text-transform: uppercase;
    transition: var(--transition-all);

    &:hover {
        svg {
            transform: translateX(0.4rem);
        }
    }

    svg {
        transition: transform var(--transition-duration);
    }
}

.lip-butter-carousel:not(:has(.swiper-initialized)) .lip-butter-carousel__slider .swiper-wrapper {
    transform: translateX(calc(-1 * (var(--lip-butter-active-slide) * 100% / (var(--lip-butter-active-slide) / 2))));

    @media screen and (min-width: 1280px) {
        transform: none;
    }
}

.lip-butter-carousel__bg-image {
    z-index: 1;
}