.media-with-caption__media {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: calc(95svh - var(--header-height-mobile) - var(--announcement-height, 0));
    width: calc(100% + 3.6rem);
    margin-left: -1.8rem;

    @media only screen and (min-width: 1280px) {
        max-height: calc(95svh - var(--header-height-desktop) - var(--announcement-height, 0));
        width: 100%;
        margin: 0;
        border-radius: .3rem;
        overflow: hidden;
    }
}

.media-with-caption__content {
    margin-top: 1.2rem;
}