.ps-image__inner {
    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.8rem;
        align-items: center;
    }

    @media only screen and (min-width: 1280px) {
        gap: 2rem;
    }
}

.ps-image__media {
    position: relative;
    width: calc(100% + 3.6rem);
    margin-left: -1.8rem;
    aspect-ratio: 1 / 1;
    max-height: calc(95svh - var(--header-height-mobile) - var(--announcement-height, 0));
    padding: 2.4rem;

    @media only screen and (min-width: 768px) {
        width: 100%;
        margin-left: 0;
    }

    @media only screen and (min-width: 1280px) {
        padding: 3.6rem;
        max-height: calc(95svh - var(--header-height-desktop) - var(--announcement-height, 0));
    }

    &.ps-image__media--gradient-b {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 25%);
    }

    &.ps-image__media--gradient-t {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 25%);
    }

    &.ps-image__media--gradient-y {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 25%), linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 25%);
    }
}

.ps-image__content {
    max-width: 50rem;
}

.ps-image__products {
    padding: 0;
    width: calc(100% + 3.6rem);
    margin-left: -1.8rem;
    margin-top: 2.4rem;

    @media only screen and (min-width: 768px) {
        width: calc(100% + 1.8rem);
        margin-left: 0;
    }

    @media only screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        padding: 6.4rem 4rem;
        width: 100%;
        margin-top: 0;
    }
}

.ps-image__products {
    .ps-image__products-slider-wrapper {
        position: relative;
        width: 100%;

        .swiper-nav-btn {
            display: none;
            top: 30.84%;

            @media only screen and (min-width: 1280px) {
                display: flex;
            }
        }

        .swiper-nav-btn.swiper-nav-btn--prev {
            left: 0;
            transform: translate(-50%, -50%) rotate(180deg);
        }

        .swiper-nav-btn.swiper-nav-btn--next {
            right: 0;
            transform: translate(50%, -50%);
        }
    }

    .swiper {
        padding-left: 1.8rem;
        padding-right: 1.8rem;

        @media only screen and (min-width: 768px) {
            padding-left: 0;
        }

        @media only screen and (min-width: 1280px) {
            padding: .1rem;
        }

        &:not(.swiper-initialized) {
            .swiper-slide {
                width: calc(66.666666% - 0.9rem);
                margin-right: 1.8rem;

                @media only screen and (min-width: 1280px) {
                    width: calc(50% - 0.9rem);
                }
            }

            &:has(.swiper-slide:nth-child(3)) {
                .swiper-slide {
                    @media only screen and (min-width: 1280px) {
                        width: 44.95%;
                    }
                }
            }
        }
    }

    .swiper-slide {
        height: auto;
    }
}
