.rewards-tiers {
    &__container {
        margin: 0 1.8rem;

        @media screen and (min-width: 768px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 66.1rem;
        }

        @media screen and (min-width: 1280px) {
            max-width: 98.4rem;
        }
    }

    &__title {
        margin-bottom: .6rem;
        text-align: center;
    }

    &__subtitle {
        margin-bottom: 2.4rem;
        text-align: center;
    }

    &__table-wrapper {
        margin: 0 -1.8rem;
        overflow: auto;
    }

    &__table-circle {
        border-radius: 50%;
        height: .8rem;
        margin: 0 auto;
        width: .8rem;

        &--beige {
            background-color: #d1eefe;
        }

        &--olive {
            background-color: #acd5e9;
        }

        &--blue {
            background-color: #719fb9;
        }
    }

    table {
        border-collapse: collapse;
        font-family: var(--font-body);
        font-size: var(--font-body-size);
        font-style: normal;
        font-weight: 450;
        line-height: var(--font-body-line-height);
        letter-spacing: 0.013rem;
        width: 100%;

        thead {
            th {
                border-bottom: .1rem solid var(--ink);
                font-weight: 450;
                padding: 0 1.5rem 1.2rem;

                &:first-child {
                    opacity: 0;
                    padding: 0;
                    width: 9rem;

                    @media screen and (min-width: 768px) {
                        width: 29.5rem;
                    }

                    @media screen and (min-width: 1280px) {
                        width: 25rem;
                    }
                }

                &:nth-child(2) {
                    padding-left: 0;
                }

                .rewards-tiers__table-th-upper-title {
                    align-items: center;
                    border-radius: .3rem;
                    display: inline-flex;
                    justify-content: center;
                    margin-bottom: .6rem;
                    padding: .3rem .6rem;
                    white-space: nowrap;
                }
            }
        }

        tbody {
            td {
                border-bottom: .1rem solid var(--ink-40);
                padding: 2.4rem .9rem;
                text-align: center;

                @media screen and (min-width: 768px) {
                    padding-bottom: 3rem;
                    padding-top: 3rem;
                }

                &:first-child {
                    font-family: var(--font-secondary);
                    font-size: var(--font-subheader-small-size);
                    font-style: normal;
                    font-weight: 450;
                    line-height: var(--font-subheader-small-line-height);
                    letter-spacing: 0.078rem;
                    padding-left: 1.8rem;
                    text-align: left;
                    text-transform: uppercase;
                    width: 9rem;

                    @media screen and (min-width: 768px) {
                        padding-left: 0;
                        width: 29.5rem;
                    }

                    @media screen and (min-width: 1280px) {
                        width: 25rem;
                    }
                }

                &:last-child {
                    padding-right: 1.8rem;
                }
            }
        }
    }
}
