.two-cols-media-text__btn {
    margin-top: 2.4rem;
}

.two-cols-media-text__eyebrow {
    margin-bottom: 0.6rem;

    @media only screen and (min-width: 1280px) {
        margin-bottom: 1.2rem;
    }
}

.content-col--center {
    .two-cols-media-text__eyebrow,
    .two-cols-media-text__content {
        text-align: center;
    }
}

.content-col--right {
    .two-cols-media-text__eyebrow,
    .two-cols-media-text__content {
        text-align: right;
    }
}

.two-cols-media-text__content--center {
    text-align: center;
}

.two-cols-media-text__content--right {
    text-align: right;
}

.two-cols-media-text__signature {
    margin-top: -0.8rem;

    img {
        margin-left: auto;
    }
}

.two-cols-media-text__custom-signature {
    &.hero-title-pinyon {
        text-align: right;
        margin-top: .6rem;
        line-height: 1;

        @media only screen and (min-width: 768px) {
            margin-top: .8rem;
        }
    }
}

.two-cols-media-text__table {
    margin-top: 3rem;

    @media only screen and (min-width: 1280px) {
        margin-top: 4.8rem;
    }
}

.two-cols-media-text__table-row {
    display: grid;
    grid-template-columns: minmax(9.6rem, 28.5%) 1fr;
    gap: 2.4rem;
    padding: 1.2rem 0;
    border-bottom: .1rem solid var(--ink-40);

    @media only screen and (min-width: 768px) {
        gap: 4.6rem;
    }
}

.two-cols-media-text__table-socials {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .icon {
        max-height: 1.4rem;
        max-width: 1.4rem;
    }
}

.two-cols-media-text__table-col-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;

    .rte {
        .icon {
            display: inline-block;
            margin-bottom: 0.2rem;
        }
    }
}