@keyframes skeleton {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-body-line-height);
    letter-spacing: 0.013rem;
    color: var(--ink);
    min-height: 100%;
    overflow: hidden;
    overflow-y: auto;

    div.uwy .userway_buttons_wrapper {
        top: initial !important;
        left: 1.3rem !important;
        bottom: 2rem !important;
        transform: none !important;
        transition: var(--transition-all) !important;
    }

    @media only screen and (max-width: 1280px) {
        &.sticky-atc-bar-active {
            padding-bottom: 9rem;
            
            div.uwy .userway_buttons_wrapper,
            .osano-cm-widget,
            #zonos > .z-flag {
                bottom: 10rem !important;
            }
        }
    }
}

iframe#attentive_creative[style*="60px"] {
    left: initial !important;
    right: 0 !important;
    bottom: 50% !important;
    transform: translate(6.4rem, 50%) rotate(270deg);
}

.osano-cm-widget {
    display: none !important;
}

body .osano-cm-dialog {
    background-color: var(--chalk);
    font-family: var(--font-primary);
}

.osano-cm-button {
    text-align: center;
    background-color: var(--chalk) !important;
    color: var(--ink) !important;
    border-color: var(--ink) !important;

    &:hover,
    &:active {
        border-color: var(--morning-sky) !important;
        background-color: var(--morning-sky) !important;
        color: var(--white) !important;
    }
}

sup {
    font-size: 50%;
}

[x-cloak] {
    display: none !important;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

.list-reset {
    list-style: none;
    padding: 0;
}

.relative-img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.absolute-img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--mobile-object-position, center);

    @media only screen and (min-width: 768px) {
        object-position: var(--desktop-object-position, center);
    }
}

.nowrap {
    text-wrap: nowrap;
    white-space: nowrap;
}

.loading,
[data-loading="true"] {
    input,
    button,
    label {
        pointer-events: none;
        opacity: .5;
    }
}

button[disabled="disabled"] {
    pointer-events: none;
    opacity: .5;
}

.plus-icon {
    width: 1rem;
    height: 1rem;

    path {
        transition: var(--transition-all);
    }

    [aria-expanded="true"] & {
        path {
            &:first-child {
                opacity: 0;
            }
        }
    }
}

.dropdown-content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: var(--transition-all);
    pointer-events: none;


    &[data-open="true"] {
        opacity: 1;
        pointer-events: auto;
    }
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;

    .icon {
        transition: var(--transition-all);
    }

    &.is-open {
        .icon {
            transform: rotate(180deg);
        }
    }
}

.scale-img {
    overflow: hidden;

    img {
        transition: var(--transition-all);
    }

    &:hover img {
        transform: scale(1.05);
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: .4rem;
    }

    &::-webkit-scrollbar-track {
        opacity: 1;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        opacity: 1;
        background: var(--ink);
    }
}

/* Containers */

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

.main-container {
    flex-grow: 1;
}

.container {
    padding: 0 1.8rem;
    margin: 0 auto;

    &.container--page {
        @media only screen and (min-width: 768px) {
            padding: 0 8.6rem;
        }

        @media only screen and (min-width: 1280px) {
            max-width: 110.6rem;
            margin: 0 auto;
            padding: 0 14.4rem;
        }
    }

    &.container--small {
        max-width: 56.2rem;

        @media only screen and (min-width: 1280px) {
            max-width: 65rem;
        }
    }

    &.container--medium {
        max-width: 56.2rem;

        @media only screen and (min-width: 1280px) {
            max-width: 110.6rem;
            padding: 0 14.4rem;
        }
    }

    &.container--blog {
        max-width: 56.2rem;

        @media only screen and (min-width: 1280px) {
            max-width: 100%;
        }
    }

    &.container--smaller-tablet {
       max-width: 56.2rem; 

        @media only screen and (min-width: 1280px) {
            max-width: 100%;
        }
    }

    &.container--padding-tablet {
        @media only screen and (min-width: 768px) {
            padding-top: 2.2rem;
            padding-bottom: 3.6rem;
        }

        @media only screen and (min-width: 1280px) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    @media only screen and (min-width: 1280px) {
        padding: 0 6rem;
    }
}

.overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* Text */
.rte {
    h1, h2, h3, h4, h5, h6, p, ul, ol {
        &:not(:last-child) {
            margin-bottom: 1.6rem;

            @media only screen and (min-width: 1280px) {
                margin-bottom: 2.4rem;
            }
        }
    }

    &.rte--wrap-balance {
        text-wrap: balance;
    }

    &.rte--h-center {
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
    }

    &.rte--h-right {
        h1, h2, h3, h4, h5, h6 {
            text-align: right;
        }
    }

    &.rte--p-center {
        p, ul, ol {
            text-align: center;
        }
    }

    &.rte--p-right {
        p, ul, ol {
            text-align: right;
        }
    }

    &.rte--smaller {
        h1, h2, h3, h4, h5, h6, p, ul, ol {
            &:not(:last-child) {
                margin-bottom: 1.2rem;
            }
        }
    }

    &.rte--larger {
        h1, h2 {
            font-family: var(--font-primary);
            font-style: normal;
            font-weight: 450;
            letter-spacing: -0.076rem;

            @media only screen and (min-width: 1280px) {
                letter-spacing: -0.0898rem;
            }
        }

        h1 {
            font-size: var(--font-h1-larger-size-mobile);
            line-height: var(--font-h1-larger-line-height-mobile);

            @media only screen and (min-width: 1280px) {
                font-size: var(--font-h1-larger-size-desktop);
                line-height: var(--font-h1-larger-line-height-desktop);
            }
        }

        h2 {
            font-size: var(--font-h2-larger-size-mobile);
            line-height: var(--font-h2-larger-line-height-mobile);

            @media only screen and (min-width: 1280px) {
                font-size: var(--font-h2-larger-size-desktop);
                line-height: var(--font-h2-larger-line-height-desktop);
            }
        }
    }

    h1.page__title {
        margin-bottom: 4.8rem;
    }

    &.rte--white {
        color: var(--white);

        a {
            color: var(--white);
        }
    }
}

.alert-message {
    padding: .8rem 1.2rem;
    border: .1rem solid var(--ink);
    border-radius: .3rem;
    transition: var(--transition-all);

    &.alert-message--error {
        border-color: var(--red);
        color: var(--red);
    }
}

textarea {
    width: 100%;
    resize: none;
    height: 10rem;
    border-radius: .3rem;
    border: .1rem solid var(--clay);
    padding: 1.2rem;
}

select {
    background-image: url('/assets/icon-chevron-down.svg');
    background-position: right 18px center;
    background-repeat: no-repeat;
    background-size: 9px;
    font-family: var(--font-body);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0.05rem;
    color: var(--ink);
    background-color: transparent;
    padding: .6rem 1.2rem;
    border: .1rem solid var(--ink-40);
    border-radius: .3rem;
    width: 100%;
    min-height: 3rem;
    -webkit-appearance: none;

    @media only screen and (min-width: 1280px) {
        font-size: var(--font-input-size-desktop);
        letter-spacing: .011rem;
    }
}

.form__group {
    &:not(:last-child) {
        margin-bottom: .6rem;

        &.form__group--double-margin {
            margin-bottom: 1.2rem;
        }
    }

    &.form__group--2 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: .8rem;
    }
}

input {
    font-family: var(--font-body);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0.05rem;
    color: var(--ink);
    background-color: transparent;
    padding: .6rem 1.2rem;
    border: .1rem solid var(--ink-40);
    border-radius: .3rem;
    width: 100%;
    min-height: 3rem;

    &::placeholder {
        color: var(--ink);
    }

    @media only screen and (min-width: 1280px) {
        font-size: var(--font-input-size-desktop);
        letter-spacing: 0.011rem;
    }
}

input[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"]::-ms-clear {
    display: none;
    height: 0;
    width : 0;
}

input[type="search"]::-ms-reveal {
    display: none;
    height: 0;
    width : 0;
}

label {
    cursor: pointer;
}

.fake-radio {
    padding: .5rem;

    div {
        width: .9rem;
        height: .9rem;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 0 0 0 .3rem var(--white), 0 0 0 .4rem var(--ink-40);
        transition: var(--transition-all);
    }

    input:checked ~ label & div {
        background-color: var(--accent-blue);
        box-shadow: 0 0 0 .3rem var(--white), 0 0 0 .4rem var(--accent-blue);
    }
}

.hero-title-primary {
    font-family: var(--font-primary);
    font-size: var(--font-hero-title-size-mobile);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-hero-title-line-height-mobile);
    letter-spacing: -0.076rem;

    @media only screen and (min-width: 1280px) {
        font-size: var(--font-hero-title-size-desktop);
        line-height: var(--font-hero-title-line-height-mobile);
        letter-spacing: -0.0898rem;
    }
}

.hero-title-pinyon {
    font-family: var(--font-pinyon);
    font-size: var(--font-pinyon-title-size-mobile);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-pinyon-title-line-height-mobile);

    @media only screen and (min-width: 768px) {
        font-size: var(--font-pinyon-title-size-desktop);
        line-height: var(--font-pinyon-title-line-height-desktop);
    }
}

h1, .h1 {
    font-family: var(--font-primary);
    font-size: var(--font-h1-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-h1-line-height);
    letter-spacing: -0.075rem;
}

h2, .h2 {
    font-family: var(--font-primary);
    font-size: var(--font-h2-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-h2-line-height);
    letter-spacing: -0.052rem;
}

h3, .h3 {
    font-family: var(--font-primary);
    font-size: var(--font-h3-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-h3-line-height);
    letter-spacing: -0.027rem;
}

h4, .h4 {
    font-family: var(--font-primary);
    font-size: var(--font-h4-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-h4-line-height);
    letter-spacing: -0.014rem;
}

a {
    color: var(--ink);
    text-decoration: none;
}

.a-underline-wrapper,
.rte {
    a:not(.btn) {
        text-decoration: underline;
        text-underline-offset: .2rem;
        transition: var(--transition-all);
    }
}

.a-underline-style-1 {
    a:not(.btn) {
        text-decoration-color: transparent;

        &:hover {
            text-decoration-color: var(--ink);
        }
    }
}

.a-underline-style-2,
.rte {
    a:not(.btn) {
        &:hover {
            text-underline-offset: .4rem;
        }
    }
}

.hover-opacity {
    @media only screen and (min-width: 1280px) {
        transition: var(--transition-all);

        &:hover {
            opacity: .7;
        }
    }
}

.hover-arrow {
    @media only screen and (min-width: 1280px) {
        .icon {
            transition: var(--transition-all);
        }

        &:hover {
            .icon {
                transform: translateX(0.4rem);
            }
        }
    }
}

.select-wrapper {
    border-radius: .3rem;

    &.select-wrapper--bordered {
        .dropdown-content {
            border-bottom-left-radius: .3rem;
            border-bottom-right-radius: .3rem;
            border: 1px solid var(--clay);
            border-top: none;
        }

        .select-toggle-btn[aria-expanded="true"] {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.select-wrapper--absolute {
        position: relative;

        .dropdown-content {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: 100%;
            background-color: var(--white);
            z-index: 5;

            &.dropdown-content--top {
                top: initial;
                bottom: 100%;
            }
        }
    }
}

.select-toggle-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    padding: 1.05rem 1.2rem;
    height: 3.5rem;
    line-height: 1;
    border: 1px solid var(--clay);
    border-radius: .3rem;

    &.select-toggle-btn--borderless {
        border-color: transparent;
    }

    .icon {
        transition: var(--transition-all);
    }

    .icon-chevron-down {
        min-width: .8rem;
    }

    &[aria-expanded="true"] {
        background-color: var(--chalk);

        &.select-toggle-btn--borderless {
            background-color: transparent;
        }

        .icon {
            transform: rotate(180deg);
        }
    }

    &.select-toggle-btn--top {
        .icon {
            transform: rotate(180deg);
        }

        &[aria-expanded="true"] {
            .icon {
                transform: rotate(0);
            }
        }
    }
}

.select-option {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .7rem;
    padding: 1.105rem 1.2rem;
    height: 3.5rem;
    line-height: 1;
}

.default-transition {
    transition: var(--transition-all);
}

.no-transition {
    transition: none;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

.scale-0 {
    transform: scale(0);
}

.checkbox-default {
    padding-left: 2rem;
    position: relative;

    &:before {
        border: 1px solid var(--clay);
        border-radius: 0.3rem;
        content: '';
        display: inline-flex;
        height: 1.4rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 1.4rem;
    }

    input[type='checkbox']:disabled + & {
        pointer-events: none;
    }

    input[type='checkbox']:checked + & {
        &:before {
            background-color: var(--ink);
            border: 1px solid var(--ink);
        }

        .icon-checkmark {
            display: inline;
        }
    }

    .icon-checkmark {
        display: none;
        color: var(--white);
        height: 1rem;
        left: 0.2rem;
        position: absolute;
        top: 0.2rem;
        width: 1rem;
    }
}

.checkbox-toggle {
    text-indent: -9999px;
    width: 4.8rem;
    height: 2.2rem;
    background-color: var(--clay);
    display: block;
    border-radius: 1.2rem;
    position: relative;
    transition: var(--transition-all);

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: .4rem;
        width: 1.6rem;
        height: 1.6rem;
        background-color: var(--white);
        border-radius: 100%;
        transform: translate(0, -50%);
        transition: var(--transition-all);
    }

    input:checked + & {
        background-color: var(--ink);

        &:after {
            left: calc(100% - .4rem);
            transform: translate(-100%, -50%);
        }
    }
}

.cta-textlink {
    font-family: var(--font-body);
    font-size: var(--font-cta-textlink-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-cta-textlink-line-height);
    letter-spacing: 0.11rem;
    text-transform: uppercase;
}

.p-small {
    font-family: var(--font-body);
    font-size: var(--font-p-small-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-p-small-line-height);
}

.p-normal {
    font-family: var(--font-body);
    font-size: var(--font-p-normal-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-p-normal-line-height);
    letter-spacing: 0.013rem;
}

.p-large {
    font-family: var(--font-body);
    font-size: var(--font-p-large-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-p-large-line-height);
    letter-spacing: 0.016rem;
}

.subheader-small {
    font-family: var(--font-secondary);
    font-size: var(--font-subheader-small-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-subheader-small-line-height);
    letter-spacing: 0.078rem;
    text-transform: uppercase;
}

.subheader-large {
    font-family: var(--font-secondary);
    font-size: var(--font-subheader-large-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-subheader-large-line-height);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.superscript-normal {
    font-family: var(--font-body);
    font-size: var(--font-superscript-normal-size);
    font-style: normal;
    font-weight: 450;
    line-height: var(--font-superscript-normal-line-height);
    letter-spacing: 0.011rem;
}

.text-overflow {
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skeleton {
    animation: skeleton 2s infinite ease-in-out;
    background-color: var(--skeleton-1);
    background-image: linear-gradient(90deg, var(--skeleton-1) 25%, var(--skeleton-2) 50%, var(--skeleton-1) 75%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
}

.qty-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 7.2rem;
    height: 3rem;
    border-radius: .3rem;
    border: .1rem solid var(--clay);

    .icon-plus {
        width: 1rem;
        height: 1rem;
    }
}

.qty-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 2.7rem;
}

.qty-input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    height: 100%;
    width: calc(100% - 5.4rem);
    text-align: center;
    border: none;
}

span.qty-input {
    pointer-events: none;
}

.cta-link-with-arrow {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    .rte & {
        text-decoration: none !important;
    }

    svg {
        min-width: 1.5rem;
        transition: transform var(--transition-duration);
    }

    &:hover {
        &.cta-link-with-arrow--right {
            svg {
                transform: translateX(0.4rem);
            }
        }

        &.cta-link-with-arrow--down {
            opacity: 0.7;
        }
    }
}

body .uwy.userway_p5 .userway_buttons_wrapper,
body .osano-cm-widget {
    transition: var(--transition-all) !important;
}

.icon-stripes {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
} 

.two-cols-wrapper {
    @media only screen and (min-width: 1280px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
        gap: 10rem;
    }
}

.media-col {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    min-height: 20rem;
    max-height: calc(95svh - var(--header-height-mobile) - var(--announcement-height, 0));
    margin-bottom: 4.2rem;
    border-radius: .3rem;
    overflow: hidden;

    @media only screen and (min-width: 1280px) {
        max-height: calc(95svh - var(--header-height-desktop) - var(--announcement-height, 0));
        margin-bottom: 0;
    }
}

.content-col {
    @media only screen and (min-width: 1280px) {
        max-width: 58.2rem;
        margin: 0 auto;
    }
}

.social-sharing__buttons {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
}