*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  padding-bottom: 0 !important;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    text-align: left;
}

input,
button,
textarea,
select {
  font: inherit;
  color: var(--ink);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
